.login-btn{
  background-color: hsl(271, 76%, 35%);
  color: white;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 10px 15px;
  border: none;
  }

.login-btn:hover{
  background-color: lightgray;
  border: none;
}

.navbar{
  height: 55px;
  background-color:hsl(33, 78%, 33%);
  width:100%;
}

.navbar .nav-items{
  display: flex;
  justify-content: space-between;
}

.navbar a{
  
}